In [6]:
# (1)
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {0:10,1:20,2:30,3:40,4:50}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)
print('\n')

#(1)
import pandas as pd

#리스트를 시리즈로 변환하여 변수 sr에 저장
list_data=[10,20,30,40,50]
sr=pd.Series(list_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64


<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
# (2)
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a':1,'b':2,'c':3,'d':4,'e':5}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# (3)
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'학생1':'둘리','학생2':'또치','학생3':'도우너','학생4':'희동이','학생5':'마이콜'}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [13]:
# (4)
import pandas as pd

#리스트를 시리즈로 변환(인덱스 옵션 지정)
list_data=['둘리','또치','도우너','희동이','마이콜']
sr = pd.Series(list_data,index=['학생1','학생2','학생3','힉생4','학생5'])


print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
힉생4    희동이
학생5    마이콜
dtype: object

In [25]:
# (5)
blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)

print('[시리즈 sr 출력]')
print(sr)

print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]')
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1:4])

print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]')
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr["B형":"AB형"])

print('[시리즈 sr의 크기 출력]')
print(len(sr))

print('[시리즈 sr의 인덱스 출력]')
print(sr.index)

print('[시리즈 sr의 데이터 값 출력]')
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [26]:
# (6)
import pandas as pd

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'name':['둘리','또치','도우너','희동이'],'kor':[90,80,70,70],'eng':[99,98,97,46],'mat':[90,70,70,60]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [30]:
# (7)
import pandas as pd

#행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([['둘리','또치','도우너','희동이'],[90,80,70,70],[99,98,97,46],[90,70,70,60]],
                 index=['학생1','학생2','학생3','학생4'],
                 columns=['name','kor','eng','mat'])

print(type(df))
print(df)
print('\n')

#(8)
df.index = ['st1','st2','st3','st4']
df.columns = ['dooly','doochi','dounar','heedong']
print(df)

<class 'pandas.core.frame.DataFrame'>
    name kor  eng  mat
학생1   둘리  또치  도우너  희동이
학생2   90  80   70   70
학생3   99  98   97   46
학생4   90  70   70   60


    dooly doochi dounar heedong
st1    둘리     또치    도우너     희동이
st2    90     80     70      70
st3    99     98     97      46
st4    90     70     70      60

In [80]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)

print(df)
print('\n')
print(df[0:5])
print(df.head(5))
print('\n')
print(df.tail(5))
print('\n')
print(df.columns)
print('\n')
print(df['name'])
print('\n')
print(df.eng)
print('\n')
print(df[['kor','mat']])
print('\n')

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90


  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88


  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90


Index(['name', 'kor', 'eng', 'mat'], dtype='object')


0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object


0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64


   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90


      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90

In [93]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)

print(df)
print('\n')
print(df.iloc[3])
print('\n')
print(df.iloc[0,0])
print('\n')
print(df.iloc[3,2])
print('\n')
print(df.iloc[[2,3],2])
print('\n')
print(df.iloc[[2,3],[2,3]])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90


name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object


듀크1


46


2    97
3    46
Name: eng, dtype: int64


   eng  mat
2   97   70
3   46   60

In [99]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)

print(df)
print('\n')
print(df.loc[3])
print('\n')
print(df.loc[0,'name'])
print('\n')
print(df.loc[3,'eng'])
print('\n')
print(df.loc[[2,3],'eng'])
print('\n')
print(df.loc[[2,3],['eng','mat']])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90


name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object


듀크1


46


2    97
3    46
Name: eng, dtype: int64


   eng  mat
2   97   70
3   46   60

In [81]:
# (10)
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)

print(df)
print('\n')

df.set_index('name',inplace=True)
print(df)

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90


      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90